<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.ulyanovskk.drinksomewater2">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_drop"
        android:label="Drink Some Water!"
        android:roundIcon="@mipmap/ic_drop_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrinkSomeWater2">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>